body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    position: relative;
}

/* .result {
    font-size: 2em;
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
} */

/* 결과 단어에 적용될 색상 클래스 추가 */
.result span.color1 {
    color: red;
    font-size: 2em
}

.result span.color2 {
    color: green;
    font-size: 2em
}

.result span.color3 {
    color: blue;
    font-size: 2em
}

.result span.color4 {
    color: purple;
    font-size: 2em
}

.result span.color5 {
    color: orange;
    font-size: 2em
}

.result span.color6 {
    color: brown;
    font-size: 2em
}

.slot-stage {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px; /* stages 텍스트 위쪽에 마진 추가 */
}

.slot-machine {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slot {
    width: 600px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.5em;
}

.input-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-section input {
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
    width: 400px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.input-section button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-section button:hover {
    background-color: #0056b3;
}

#wordList {
    list-style-type: none;
    padding: 0;
}

#wordList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 580px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    white-space: nowrap; /* 단어가 한 줄로 표시되도록 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
    word-break: keep-all; /* 단어가 줄바꿈되지 않도록 설정 */
    line-height: 1.5; /* 줄 간격 조정 */
}

#wordList li button {
    width: 50px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#wordList li button:hover {
    background-color: darkred;
}

button {
    width: 150px;
    padding: 10px 40px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
#controlButton{
    width: 600px;
}

#retryButton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#retryButton:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .slot-machine {
        width: 80%;
        height: 100px;
        font-size: 1.2em;
        margin-bottom: 30px;
    }

    .input-section input {
        width: 80%;
        font-size: 0.9em;
        margin-bottom: 10px;
        align-items: center;
    }
    .input-section button{
        width: 86%;
    }

    .input-section {
        width: 90%;
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
    }

    #wordList li {
        width: 80%;
        font-size: 0.9em;
    }

    button {
        padding: 8px 20px;
        font-size: 1em;
    }

    #controlButton{
        width: 300px;
    }

    #retryButton {
        padding: 8px 20px;
        font-size: 1em;
    }

    .slot-machine {
        margin-bottom: 10px;
    }

    .slot-stage {
        margin-bottom: 10px;
    }

    .result {
        font-size: 0.9em;
        padding: 0, 20px;
        display: block;
    }
}